apw/apw.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types> 
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/"> 
      <s:element name="CheckInventory"> 
        <s:complexType> 
          <s:sequence> 
            <s:element minOccurs="0" maxOccurs="1" name="OrderInfo" type="tns:CheckInventoryRequest" /> 
            <s:element minOccurs="0" maxOccurs="1" name="UserData" type="tns:UserInfo" /> 
          </s:sequence> 
        </s:complexType> 
      </s:element> 
      <s:complexType name="CheckInventoryRequest"> 
        <s:sequence> 
          <s:element minOccurs="0" maxOccurs="1" name="ShippingMethod" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="Parts" type="tns:ArrayOfPart" /> 
        </s:sequence> 
      </s:complexType> 
      <s:complexType name="ArrayOfPart"> 
        <s:sequence> 
          <s:element minOccurs="0" maxOccurs="unbounded" name="Part" nillable="true" type="tns:Part" /> 
        </s:sequence> 
      </s:complexType> 
      <s:complexType name="Part"> 
        <s:sequence> 
          <s:element minOccurs="0" maxOccurs="1" name="OrderItemId" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="Sku" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="Brand" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="Qty" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="Stock" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="VendorUnitPrice" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="VendorCorePrice" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="OrderedQty" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="ItemQty" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="ExtendedPrice" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" /> 
        </s:sequence> 
      </s:complexType> 
      <s:complexType name="UserInfo"> 
        <s:sequence> 
          <s:element minOccurs="0" maxOccurs="1" name="CustomerAccountNumber" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="CustomerPassword" type="s:string" /> 
        </s:sequence> 
      </s:complexType> 
      <s:element name="CheckInventoryResponse"> 
        <s:complexType> 
          <s:sequence> 
            <s:element minOccurs="0" maxOccurs="1" name="CheckInventoryResult" type="tns:CheckInventoryResponse" /> 
          </s:sequence> 
        </s:complexType> 
      </s:element> 
      <s:complexType name="CheckInventoryResponse"> 
        <s:sequence> 
          <s:element minOccurs="0" maxOccurs="1" name="OrderInfo" type="tns:CheckInventoryInfo" /> 
        </s:sequence> 
      </s:complexType> 
      <s:complexType name="CheckInventoryInfo"> 
        <s:sequence> 
          <s:element minOccurs="0" maxOccurs="1" name="Parts" type="tns:ArrayOfPart" /> 
        </s:sequence> 
      </s:complexType> 
      <s:element name="PlaceOrder"> 
        <s:complexType> 
          <s:sequence> 
            <s:element minOccurs="0" maxOccurs="1" name="OrderInfo" type="tns:PlaceOrderRequest" /> 
            <s:element minOccurs="0" maxOccurs="1" name="UserData" type="tns:UserInfo" /> 
          </s:sequence> 
        </s:complexType> 
      </s:element> 
      <s:complexType name="PlaceOrderRequest"> 
        <s:sequence> 
          <s:element minOccurs="0" maxOccurs="1" name="Order" type="tns:OrderData" /> 
          <s:element minOccurs="0" maxOccurs="1" name="Parts" type="tns:ArrayOfPart" /> 
        </s:sequence> 
      </s:complexType> 
      <s:complexType name="OrderData"> 
        <s:sequence> 
          <s:element minOccurs="0" maxOccurs="1" name="PONumber" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="SupplierOrderId" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="Delivery_Name" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="Delivery_Address1" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="Delivery_Address2" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="Delivery_City" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="Delivery_State" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="Delivery_Postcode" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="Delivery_EmailAddress" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="Delivery_Telephone" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="ShippingMethod" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="EarliestShipDate" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="NeedDeliveryDate" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="EstFreight" type="s:string" /> 
        </s:sequence> 
      </s:complexType> 
      <s:element name="PlaceOrderResponse"> 
        <s:complexType> 
          <s:sequence> 
            <s:element minOccurs="0" maxOccurs="1" name="PlaceOrderResult" type="tns:PlaceOrderResponse" /> 
          </s:sequence> 
        </s:complexType> 
      </s:element> 
      <s:complexType name="PlaceOrderResponse"> 
        <s:sequence> 
          <s:element minOccurs="0" maxOccurs="1" name="OrderInfo" type="tns:PlaceOrderInfo" /> 
        </s:sequence> 
      </s:complexType> 
      <s:complexType name="PlaceOrderInfo"> 
        <s:sequence> 
          <s:element minOccurs="0" maxOccurs="1" name="Order" type="tns:OrderData" /> 
          <s:element minOccurs="0" maxOccurs="1" name="Parts" type="tns:ArrayOfPart" /> 
        </s:sequence> 
      </s:complexType> 
      <s:element name="OrderStatus"> 
        <s:complexType> 
          <s:sequence> 
            <s:element minOccurs="0" maxOccurs="1" name="OrderInfo" type="tns:OrderStatusRequest" /> 
            <s:element minOccurs="0" maxOccurs="1" name="UserData" type="tns:UserInfo" /> 
          </s:sequence> 
        </s:complexType> 
      </s:element> 
      <s:complexType name="OrderStatusRequest"> 
        <s:sequence> 
          <s:element minOccurs="0" maxOccurs="1" name="Order" type="tns:OrderStatusRequestData" /> 
        </s:sequence> 
      </s:complexType> 
      <s:complexType name="OrderStatusRequestData"> 
        <s:sequence> 
          <s:element minOccurs="0" maxOccurs="1" name="PONumber" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="SupplierOrderId" type="s:string" /> 
        </s:sequence> 
      </s:complexType> 
      <s:element name="OrderStatusResponse"> 
        <s:complexType> 
          <s:sequence> 
            <s:element minOccurs="0" maxOccurs="1" name="OrderStatusResult" type="tns:OrderStatusResponse" /> 
          </s:sequence> 
        </s:complexType> 
      </s:element> 
      <s:complexType name="OrderStatusResponse"> 
        <s:sequence> 
          <s:element minOccurs="0" maxOccurs="1" name="Order" type="tns:OrderStatusResponseData" /> 
        </s:sequence> 
      </s:complexType> 
      <s:complexType name="OrderStatusResponseData"> 
        <s:sequence> 
          <s:element minOccurs="0" maxOccurs="1" name="PONumber" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="PODate" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="SupplierOrderId" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="ShipUnits" type="tns:ArrayOfShipUnit" /> 
        </s:sequence> 
      </s:complexType> 
      <s:complexType name="ArrayOfShipUnit"> 
        <s:sequence> 
          <s:element minOccurs="0" maxOccurs="unbounded" name="ShipUnit" nillable="true" type="tns:ShipUnit" /> 
        </s:sequence> 
      </s:complexType> 
      <s:complexType name="ShipUnit"> 
        <s:sequence> 
          <s:element minOccurs="0" maxOccurs="1" name="ShipUnitSequence" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="ShipUnitTotalId" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="ShippingCompany" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="ShippingMethod" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="EstimatedShipDate" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="ShipDate" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="Freight" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="SupplierInvoiceNumber" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="Whsid" type="s:string" /> 
          <s:element minOccurs="0" maxOccurs="1" name="Parts" type="tns:ArrayOfPart" /> 
        </s:sequence> 
      </s:complexType> 
    </s:schema> 
  </wsdl:types> 
  <wsdl:message name="CheckInventorySoapIn"> 
    <wsdl:part name="parameters" element="tns:CheckInventory" /> 
  </wsdl:message> 
  <wsdl:message name="CheckInventorySoapOut"> 
    <wsdl:part name="parameters" element="tns:CheckInventoryResponse" /> 
  </wsdl:message> 
  <wsdl:message name="PlaceOrderSoapIn"> 
    <wsdl:part name="parameters" element="tns:PlaceOrder" /> 
  </wsdl:message> 
  <wsdl:message name="PlaceOrderSoapOut"> 
    <wsdl:part name="parameters" element="tns:PlaceOrderResponse" /> 
  </wsdl:message> 
  <wsdl:message name="OrderStatusSoapIn"> 
    <wsdl:part name="parameters" element="tns:OrderStatus" /> 
  </wsdl:message> 
  <wsdl:message name="OrderStatusSoapOut"> 
    <wsdl:part name="parameters" element="tns:OrderStatusResponse" /> 
  </wsdl:message> 
  <wsdl:portType name="AutoPOServiceSoap"> 
    <wsdl:operation name="CheckInventory"> 
      <wsdl:input message="tns:CheckInventorySoapIn" /> 
      <wsdl:output message="tns:CheckInventorySoapOut" /> 
    </wsdl:operation> 
    <wsdl:operation name="PlaceOrder"> 
      <wsdl:input message="tns:PlaceOrderSoapIn" /> 
      <wsdl:output message="tns:PlaceOrderSoapOut" /> 
    </wsdl:operation> 
    <wsdl:operation name="OrderStatus"> 
      <wsdl:input message="tns:OrderStatusSoapIn" /> 
      <wsdl:output message="tns:OrderStatusSoapOut" /> 
    </wsdl:operation> 
  </wsdl:portType> 
  <wsdl:binding name="AutoPOServiceSoap" type="tns:AutoPOServiceSoap"> 
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" /> 
    <wsdl:operation name="CheckInventory"> 
      <soap:operation soapAction="http://tempuri.org/CheckInventory" style="document" /> 
      <wsdl:input> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="PlaceOrder"> 
      <soap:operation soapAction="http://tempuri.org/PlaceOrder" style="document" /> 
      <wsdl:input> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="OrderStatus"> 
      <soap:operation soapAction="http://tempuri.org/OrderStatus" style="document" /> 
      <wsdl:input> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
  </wsdl:binding> 
  <wsdl:binding name="AutoPOServiceSoap12" type="tns:AutoPOServiceSoap"> 
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" /> 
    <wsdl:operation name="CheckInventory"> 
      <soap12:operation soapAction="http://tempuri.org/CheckInventory" style="document" /> 
      <wsdl:input> 
        <soap12:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output> 
        <soap12:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="PlaceOrder"> 
      <soap12:operation soapAction="http://tempuri.org/PlaceOrder" style="document" /> 
      <wsdl:input> 
        <soap12:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output> 
        <soap12:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="OrderStatus"> 
      <soap12:operation soapAction="http://tempuri.org/OrderStatus" style="document" /> 
      <wsdl:input> 
        <soap12:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output> 
        <soap12:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
  </wsdl:binding> 
  <wsdl:service name="AutoPOService"> 
    <wsdl:port name="AutoPOServiceSoap" binding="tns:AutoPOServiceSoap"> 
      <soap:address location="https://apnet3.apwks.com/oilfilterswebservice/webservice.asmx" />
    </wsdl:port> 
    <wsdl:port name="AutoPOServiceSoap12" binding="tns:AutoPOServiceSoap12"> 
      <soap12:address location="https://apnet3.apwks.com/oilfilterswebservice/webservice.asmx" />
    </wsdl:port> 
  </wsdl:service> 
</wsdl:definitions>
